body { 
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.navbar {
    display: fixed-top;
}
.navbar-brand {
    font-size: 25px;
}

.nav-item {
    font-size: 17px;
}

.nav-item:hover{
  border-bottom: 2px solid #0D6DFD;
}

.dropdown-item:hover{
    color: #0D6DFD;
    font-size: 17px;
}

.mochi{
 
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#hero {
    height: 100vh;
    background-color: #E9ECEF;
    
    
}
#hero .container{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    padding: 0 15px;
}

.tagline {

    font-size: 14px;
}

.tagline2 {

    font-size: 35px;
}

#about {
    margin-top: 100px;
    margin-bottom: 100px;
}

#team {
    /* background-color: #E9ECEF; */
    padding-top: 100px;
    padding-bottom: 100px;

}

#team h4 {
color:  rgb(19, 175, 236);
padding-top: 20px;
}

.picture {
    margin-top: 100px;
}

#team .card-body {
    background-color: rgb(219, 237, 248);
}

#service {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #E9ECEF;

}

#service .card-body {
    background-color: white;
}

#costumer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;

}
#costumer img {
    width: 80%;
    filter: grayscale(100);


}

#costumer img:hover{
    filter: none;
    width: 90%;
}

#solid {
    background-color: white;
    
}

#footer {
    margin-top: -150px;
    padding-top: 200px;
    padding-bottom: 50px;
    background-color: #355474;

}

#footer h3 {
color:  rgb(19, 175, 236);


}
#footer a {
    text-decoration: none;
    color: white;
    
}

#footer a:hover {
    font-size: 18px;
        
 }
 #cr {
    background-color: rgb(56, 54, 54);

}
